*.jpg filter=lfs
*.jpeg filter=lfs
*.png filter=lfs
*.webp filter=lfs
*.gif filter=lfs
*.mp4 filter=lfs
*.wmv filter=lfs
*.avi filter=lfs
*.mov filter=lfs
*.mkv filter=lfs
*.webm filter=lfs
*.mpg filter=lfs
*.mpeg filter=lfs
*.pdf filter=lfs
*.doc filter=lfs
*.docx filter=lfs
*.xls filter=lfs
*.xlsx filter=lfs
*.ppt filter=lfs
*.pptx filter=lfs
*.zip filter=lfs
*.rar filter=lfs
*.7z filter=lfs
*.tar filter=lfs
*.gz filter=lfs
*.bz2 filter=lfs